.bar {
  background-color: $success-color;
  border-radius: 10px;
  height: 10px;
  width: 100%;
}

.bar-inactive {
  background-color: $grey-color;
  border-radius: 10px;
  height: 8px;
  width: 100%;
}