$container-width: 450px;
$header-height: 108px;
$navbar-height: 60px;

$primary-color: #D9435E;
$secondary-color: #C23331;
$white-color: #FFFFFF;
$success-color: #1ABC9C;
$danger-color: #D9435E;
$grey-color: #FAFAFC;
$grey-color-2: #F0F0F0;
$black-color: #020202;

$border-radius: 20px;
$border-color: $black-color;
$box-1-shadow: 0px 6px 15px #F2F2F2;

$font-dm-sans: 'DM Sans', sans-serif;
$font-chewy:'Chewy', cursive;