.container {
  background-image: url('/images/illustrations/5. HALAMAN MENCARI HARTA KARUN.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .box {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding: 0 20px 15px;

    .material-title {
      font-family: $font-chewy;
    }

    .material-level {
      background-color: $danger-color;
      // width: 100px;
      padding: 5px 10px;
      // height: 50px;
      border-radius: 20px;
      color: $white-color;
      font-family: $font-chewy;
      border: 2px solid $white-color;
    }

    .material-inactive {
      background-color: rgba($danger-color, 0.5);
    }
  }
}