.container {
  background-image: url('/images/illustrations/11. HALAMAN SOAL.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  max-width: $container-width;
  position: relative;

  .box {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.question-result {
  background-image: url('/images/illustrations/11. HALAMAN EXIT.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}